@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

body {
  background: #D6D2C4;

}
*{
  font-family: 'Nunito', sans-serif;
  margin:0; 
  padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; 
  border:none;
  text-decoration: none;
  transition: all .2s linear;
}

/*header*/

/*end header*/


*::selection
{
  background: #000;
  color: #fff;
}

html
{
  font-size: 85%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section
{
  padding: 2rem 9%;
}

.judul
{
  text-align: center;
  padding: 2.5rem 0
}

.judul span
{
  font-size: 34px;
  color: #000;
  border-radius: .5rem;
  padding: .2rem 1rem;
}

.judul span.space
{
  background: none;
}
 

/*akhir*/

/* destinasi favorit  */
.destinasi
{
  background: #D6D2C4;
}

.destinasi .content .box .destinasi-detail .stars i
{
  font-size: 1.7rem;
  color: #063793;
}

.destinasi .content
{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.destinasi .content .box
{
  flex: 1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.destinasi .content .box img
{
  height: 25rem;
  width: 100%;
  object-fit: cover;
}

.destinasi .content .box .destinasi-detail
{
  padding: 2rem;
}

.destinasi .content .box .destinasi-detail h3
{
  font-size:2rem;
  color: rgb(143, 85, 19)
}

.destinasi .content .box .destinasi-detail p
{
  font-size: 14px;
  color: #595959;
  padding: 1rem 0;
}

/* gallery  */
.gallery
{
  background: #D6D2C4;
}

.gallery .content
{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gallery .content .box
{
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border: 1rem solid #fff;
  border-radius: .5rem;
  flex: 1 1 30rem;
  height: 25rem;
  position: relative;
}

.gallery .content .box img
{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .content .box .gallery-detail
{
  position: absolute;
  top: -100%; left:0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0,0,0,.7);
  padding: 2rem;
  padding-top: 5rem;
}

.gallery .content .box:hover .gallery-detail
{
  top: 0;
}

.gallery .content .box .gallery-detail h3
{
  font-size: 2.5rem;
  color: #fff;
}

.gallery .content .box .gallery-detail p
{
  font-size: 1.5rem;
  color: #fff;
  padding: .5rem 0;
}

/*KONTAK*/
.kontak h2 {
  background: #D6D2C4;
  color: #ff8e24;
  text-align: center;
}
form {
  display: flex;
  color: #ff8e24;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
  background: white;
  padding: 100px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

label, input, textarea, button {
  margin-bottom: 15px;
  max-width: 100%;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* button {
  background-color: #ea8716;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
} */

button:hover {
  background-color: #ea8716;
}

/*about*/

.about-us {
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.about-us h2,
.team h2 {
  border-bottom: 2px solid #fbbb0a;
  color: #ff8e24;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.team {
  background-size: cover;
  background-position: under;
  display: flex;
  justify-content: space-around;
}

.team-member {
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 20px;
}

.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}



/* footer  */
.footer
{
  background: #D6D2C4;
}

.footer .footer-container
{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .footer-container .title-box
{
  padding: 1rem 0;
  flex: 1 1 25rem;
}

.footer .footer-container .title-box h3
{
  /* font-size: 2.5rem; */
  padding: .7rem 0;
  color: #ff8e24;
}

.footer .footer-container .title-box p
{
  /* font-size: 1.5rem; */
  padding: .7rem 0;
  color: #000000;
}

.footer .footer-container .title-box a
{
  display: block;
  /* font-size: 1.5rem; */
  padding: .7rem 0;
  color: #000000;
}

.footer .copyright
{
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 1rem;
  /* font-size: 2rem; */
  font-weight: normal;
  color: #000000;
  border-top: .1rem solid rgba(255,255,255,.2);
}

